@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jangkuy';
    src: local('Jangkuy'), url('../public/fonts/jangkuy.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../public/fonts/mont.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'Scratchy';
    src: local('Scratchy'), url('../public/fonts/Scratchy.ttf') format('opentype');
  }